/*  
    Add background image and set the container div. 
    - The goal here is a background image on a website that covers the entire browser window at all times.
*/

html {
	margin: 0px;
	height: 100%;
	width: 100%;
}

body {
	background: url("../images/background.jpg") no-repeat center center fixed;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px;
	height: 100%;
	width: 100%;
}
.content-container {
	display: flex;
}

.info-container {
	height: 300px;
	width: 500px;
	border: black solid 1px;
	padding: 16px;
	margin: 8px;
	background-color: rgb(128, 128, 128, 0.7);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.bio {
	padding-bottom: 16px;
}

.info-upper {
	display: flex;
	justify-content: space-between;
}

.profile-img {
	width: 140px;
	height: 140px;
}

.p {
	color: whitesmoke;
}

.form-container {
	width: 250px;
	padding: 16px;
	margin: 8px;
	border: black solid 1px;
	text-align: center;
	height: 300px;
	background-color: rgb(128, 128, 128, 0.7);
}

.form {
	display: flex;
	flex-direction: column;
}

.form-label {
	font-family: "Arial Narrow Bold", sans-serif;
	color: whitesmoke;
}

.input {
	padding: 8px;
	margin: 4px;
}

.btn {
	padding: 8px;
	margin: 4px;
	margin-top: 24px;
	font-weight: bold;
	font-family: "Arial Narrow Bold", sans-serif;
	background-color: #2196f3;
	color: white;
}
